<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/pig_latin">
      <label>Enter your phrase:</label>
      <input type="text" name="str">
      <input type="submit" id="Submit">
    </form>
  </body>
</html>